body {
    padding-top: 90px;
    padding-bottom: 40px;

}
.sidebar-nav {
    padding: 9px 0;
}

a:active, a:focus {
  outline:none !important;
}
.e100-head{
    min-height: 100px;
    background: url('/img/e100bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    background-position: fixed;
    color: @black;
}

.clear{
  clear: both;
}

.read-progress{
  background-color: green;
  .full{
    background-color: @white;
    display: block;
  }
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  padding: 0;
  background-color: #000;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(255,255,255,.065);
     -moz-box-shadow: 0 1px 4px rgba(255,255,255,.065);
          box-shadow: 0 1px 4px rgba(255,255,255,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav strong{
    padding: 0 0.6em 0 0;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.1), inset -1px 0 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.1), inset -1px 0 0 rgba(255,255,255,.1);
          box-shadow: inset 1px 0 0 rgba(255,255,255,.1), inset -1px 0 0 rgba(255,255,255,.1);
}
/* Chevrons */
.bs-docs-sidenav i {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
  &.icon-read-ok{
    opacity: 1;
  }
}
.bs-docs-sidenav > li > a:hover, .bs-docs-sidenav > li.read-ok a {
  background-color: #fefefe;
  color: @black;
}
.bs-docs-sidenav a:hover i {
  opacity: .5;
  &.icon-read-ok{
    opacity: 1;
  }
}
.bs-docs-sidenav .active i,
.bs-docs-sidenav .active a:hover i {
  background-image: url(/img/glyphicons-halflings.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

sup {
  padding-right: 5px;
}

i {
  padding-right: 10px;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
  margin-top: 0px;
}

.btn-small {
  margin-right: 10px;
  margin-bottom: 10px;
}

.favorite table .btn-danger {
  float: right;
  i {
    padding: 0;
  }
}

.edit-notes{
  textarea{
    height: 300px;
    width: 420px;
  }
}

.note {
  width: 320px;
  margin: 10px 0;
  float: left;

  h3 {
    margin: 5px 0;
  }
  h4 {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}

.notes-tools {
  padding-top: 20px;
}

/** SVG **/

svg{
  max-height: 350px;
  max-width: 700px;
  max-width: 100%;
}

path {
    stroke: #c00;
    stroke-width: 2px;
}

.history-point{
  fill: #c00;
}

.history-point:hover{
  fill: #000;
}

.history{
  .history-text{
    display: none;
  }
}

.history:hover{
  .history-text{
    display: block;
  }
}

.domain{
  stroke: @black;
}

.tick{
  stroke: @black;
  stroke-width: 1px;
}

.future-path{
  stroke: #ccc;
}




