set :application, "e100youth"
set :domain,      "www.example.org" # CHANGE ME
set :deploy_to,   "/var/www/clients/client1/web5/antistatique"
set :app_path,    "app"

set :user,        "my_ssh_user" # CHANGE ME
set :use_sudo,    false

set :repository,  "git://github.com/zufrieden/e100.git"
set :scm,         :git

set :use_composer, true
set :dump_assetic_assets, true
set :model_manager, "doctrine"

# set :permission_method,     :chmod
# set :use_set_permissions, true

set :shared_files,      [app_path + "/config/parameters.yml"]

role :web,        domain                         # Your HTTP server, Apache/etc
role :app,        domain                         # This may be the same as your `Web` server
role :db,         domain, :primary => true       # This is where Symfony2 migrations will run

set  :keep_releases,  3

ssh_options[:forward_agent] = true

# Be more verbose by uncommenting the following line
#logger.level = Logger::MAX_LEVEL