jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
                login_path: fos_user_security_login
                check_path: fos_user_security_check
            logout:
                path: fos_user_security_logout
                target: homepage_i18n
            anonymous:    true
            #anonymous: ~
            #http_basic:
            #    realm: "Secured Demo Area"

    access_control:
        - { path: ^/(en|fr|de)/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(en|fr|de)/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(en|fr|de)/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(en|fr|de)/notes, role: ROLE_USER }
        - { path: ^/(en|fr|de)/last, role: ROLE_USER }
        - { path: ^/(en|fr|de)/favorites, role: ROLE_USER }
        - { path: ^/(en|fr|de)/user, role: ROLE_USER }

