{% extends "layout.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <div class="span7">
          <blockquote>
            <h1>Teachings of Lorem Ipsum<br /><a href="#" class="btn btn-warning"><i class="icon-star icon-white"></i>Add to Favorites</a></h1>
            <p class="lead">ipsum 31,53-59</p>
            <p>
                <sup>31 53</sup>Vero lobortis aliquam in magna odio accumsan adipiscing facilisis eu molestie, consequat in aliquip luptatum ut. Lobortis accumsan ex duis at nulla, euismod esse et illum wisi feugiat consequatvel. <sup>54</sup>Facilisis feugiat qui ad facilisis at ut in veniam illum praesent. <sup>55</sup>Delenit suscipit at consectetuer iriure nostrud in facilisis aliquip molestie ut sciurus eros dolore. Duis vel consequatvel iriure lobortis wisi velit dolor, illum feugait nulla, consequat iusto augue accumsan, nulla eu.<br /><br />
                <sup>56</sup>Minim eu accumsan duis eum consequat dignissim eum eu consequatvel nostrud nulla dolore molestie feugiat exerci illum iriuredolor dolor quis tation consequat dolor et esse. Ullamcorper vero iusto blandit, hendrerit consequat suscipit odio vel iusto magna velit duis te consectetuer lobortis. Nulla, commodo autem, duis in at vel odio et ut, iusto esse facilisis, luptatum nisl. Ea delenit blandit eum quis consequat, ad elit dolore in lobortis quis, nibh illum.<br /><br />
                <sup>57</sup>Accumsan minim magna aliquam vulputate ipsum, et veniam tation dolore blandit consequat aliquip luptatum augue. <sup>58</sup>Accumsan dolor iusto et luptatum tation in facilisis eros at autem consectetuer nulla tation eu dolore. Ex nostrud facilisis tation luptatum ad nisl ex nisl enim, ad veniam ut facilisi dolore qui elit. <sup>59</sup>Nisl eros augue, ut crisare tincidunt minim eum, nostrud autem lobortis duis sciurus exerci duis suscipit. Velit minim luptatum nisl tincidunt feugiat elit, tation bla
            </p>
          </blockquote>
          <br />
          <a href="#" class="btn btn-success btn-large"><i class="icon-ok icon-white"></i>Read</a>
          <br /><br />
          <a href="#" class="btn btn-info btn-small"><i class="icon-thumbs-up icon-white"></i>Share on Facebook</a>
          <a href="#" class="btn btn-small"><i class="icon-envelope"></i>Send to a friend</a>
          <br /><br />
        </div>
        <div class="span4 offset1 alert alert-error">
          <h2 class="normal-color">Comment</h2>
          <p class="normal-color">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, 
          </p>
          <br />
          <a href="#" class="btn btn-inverse btn-small"><i class="icon-pencil icon-white"></i>Write a note</a>
          <br />
          <hr />
          <br />
          <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor ?</h4>
          <br />
        </div>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
